# Ouptut folders
[Bb]in/
[Oo]bj/

# Don't track the js folder in wwwroot, we generate this with
# cd ClientApp && npx tsc
/wwwroot/js/

# /FilePool (folder being displayed in the browser)... 
# Add some seed files and folders to github
!/FilePool/test.txt
!/FilePool/Folder-1/test.txt
!/FilePool/Folder-1/Folder-1-1/test.txt
!/FilePool/Folder-1/Folder-1-2/test.txt
!/FilePool/Folder-2/test.txt
!/FilePool/Folder-2/Folder-2-1/test.txt
!/FilePool/Folder-2/Folder-2-2/test.txt
/FilePool/

# Mac files
.DS_Store
